@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: brown;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
header
{
    display: flex;
    justify-content: space-between;
    margin: 1rem 5rem 1rem 5rem;
}
#logo
{
    height: 150px;
}
nav
{
    margin-top: 3.5rem;
    font-size: 25px;
    font-weight: 600;   
}
nav a
{
    margin-right: 2rem;
}
.main-contet
{
    margin-left: 5rem;
}
.main-contet h1
{
    font-size: 35px;
}
.main-contet h3
{
    font-size: 23px;
}
.description
{
    margin-left: 5rem;
    margin-top: 0.8rem;
    width: 470px;
}
.btn
{
    margin-left: 4.3rem;
    margin-top: 2rem;
}
.btn a
{
    font-size: 30px;
    font-weight: 700;
    border: 3px solid brown;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}
.social-icons
{
    margin-left: 5rem;
    margin-top: 2rem;
}
.social-icons a
{
    font-size: 30px;
    margin-right: 2.5rem;
}
.main-image
{
    position: absolute;
    top: 7rem;
    left: 48rem;
}